.gradle
.gradle/
/local.properties
.idea
.DS_Store
Thumbs.db
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
build/
*.class
bin/
gen/
*.dex
*.apk
*.ap_
*.iml
local.properties
.classpath
.project
